{
  "openapi": "3.1.0",
  "info": {
    "title": "Invoice-AI API",
    "version": "2.0.0",
    "description": "Stripe-shaped invoicing over HTTP: customers, products, prices, invoices and invoice items, with `cus_…`, `prod_…`, `price_…`, `in_…` and `ii_…` ids.\n\n- **Auth:** `Authorization: Bearer inv_live_…`, with per-key scopes.\n- **Envelope:** JSON bodies; responses wrap the resource in `{ \"data\": … }`; lists add `next_cursor`.\n- **Money:** integer minor units everywhere (`250000` is $2,500.00).\n- **Errors:** RFC 9457 `application/problem+json` — branch on `code`.\n- **Idempotency:** operations that spend an invoice number, email or record payment require an `Idempotency-Key`.\n- **Rate limits:** 120 requests/minute per key; sending email is limited to 10/hour. See the `RateLimit-*` headers.",
    "contact": {
      "name": "Invoice-AI support",
      "url": "https://invoice.horizonpay.co"
    }
  },
  "servers": [
    {
      "url": "https://invoice.horizonpay.co/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Business",
      "x-displayName": "Business",
      "description": "Your business profile — the issuer printed on every invoice. Read-only over the API; edit it in Settings."
    },
    {
      "name": "Customers",
      "x-displayName": "Customers",
      "description": "The people and companies you bill. Every invoice references a customer by `cus_…` id. Customers are archived rather than deleted, so issued invoices keep naming who they were billed to."
    },
    {
      "name": "Products",
      "x-displayName": "Products",
      "description": "The things you sell. A product carries a name and description; amounts live on its prices. Archiving sets `active: false` and keeps history intact."
    },
    {
      "name": "Prices",
      "x-displayName": "Prices",
      "description": "Ways to charge for a product: an amount in integer minor units and a currency, one-time or recurring. Bill a price on an invoice line with `price: \"price_…\"`."
    },
    {
      "name": "Invoices",
      "x-displayName": "Invoices",
      "description": "Invoices move `draft` → `open` (finalize assigns a permanent, consecutive number) → `paid`, or `open` → `void`. Drafts are freely editable and deletable; finalized invoices are frozen. `overdue` is an open invoice past its due date, derived at read time. Operations that spend a number, send email or record payment require an `Idempotency-Key`."
    },
    {
      "name": "Invoice items",
      "x-displayName": "Invoice items",
      "description": "Individual lines of an invoice. Add or remove lines on a draft one at a time; totals are recomputed server-side and the whole invoice is returned."
    },
    {
      "name": "Webhook endpoints",
      "x-displayName": "Webhook endpoints",
      "description": "Register https endpoints to receive invoice events (`invoice.created`, `invoice.finalized`, `invoice.paid`, …). Deliveries are signed per [Standard Webhooks](https://www.standardwebhooks.com/) with `webhook-id`, `webhook-timestamp` and `webhook-signature` headers (HMAC-SHA256 over `{id}.{timestamp}.{body}`); failed deliveries are retried with backoff."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/business": {
      "get": {
        "operationId": "getBusiness",
        "summary": "Retrieve the business profile",
        "tags": [
          "Business"
        ],
        "description": "Returns the business profile invoices are issued from: legal name, address, tax id, default currency, bank details and invoice prefix. Read-only — the profile is edited in the app.\n\n**Scope:** `business:read`",
        "x-required-scope": "business:read",
        "responses": {
          "200": {
            "description": "The business profile.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "0c6f2d8e-3a41-4b9e-8f17-5d2a9c4e1b73",
                    "legal_name": "Horizon Consulting LLC",
                    "trade_name": "Horizon",
                    "country_code": "US",
                    "currency": "USD",
                    "tax_id": "US-EIN 98-7654321",
                    "address": {
                      "line1": "500 Congress Ave",
                      "line2": "Suite 1200",
                      "city": "Austin",
                      "region": "TX",
                      "postal_code": "78701",
                      "country_code": "US",
                      "country": "United States"
                    },
                    "email": "billing@horizon.example",
                    "phone": "+1 512 555 0199",
                    "bank": {
                      "bank_name": "First Austin Bank",
                      "account_name": "Horizon Consulting LLC",
                      "account_number": "000123456789",
                      "routing_number": "111000025"
                    },
                    "invoice_prefix": "INV",
                    "created_at": "2026-01-05T12:00:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The business profile.",
                      "$ref": "#/components/schemas/Business"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No business profile yet — onboarding is unfinished. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "No business profile yet. Finish onboarding first.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "No business profile yet. Finish onboarding first.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "tags": [
          "Customers"
        ],
        "description": "Returns customers newest first, cursor-paginated. Archived customers are excluded unless `include_deleted=true`.\n\n**Scope:** `clients:read`",
        "x-required-scope": "clients:read",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself.",
              "type": "string"
            },
            "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size, 1–100. Defaults to 25.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, 1–100. Defaults to 25."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "description": "Case-insensitive substring match on `name`.",
              "examples": [
                "acme"
              ],
              "type": "string"
            },
            "description": "Case-insensitive substring match on `name`."
          },
          {
            "in": "query",
            "name": "include_deleted",
            "schema": {
              "description": "Include archived customers. Only the literal `true` enables it.",
              "type": "boolean"
            },
            "description": "Include archived customers. Only the literal `true` enables it."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                      "object": "customer",
                      "name": "Acme Industries",
                      "email": "ap@acme.example",
                      "phone": null,
                      "tax_id": "US-EIN 12-3456789",
                      "address": {
                        "line1": "4th Floor, Market Tower",
                        "line2": null,
                        "city": "Austin",
                        "state": "TX",
                        "postal_code": "73301",
                        "country": "US"
                      },
                      "deleted": false,
                      "created": "2026-09-22T09:30:00.000Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "Customers, newest first."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
                      "examples": [
                        "MjAyNi0wOS0yMlQwOTozMDowMC4wMDBafDdmM2M"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "description": "Creates a customer you can bill. Only `name` is required. Creating does not deduplicate — two calls with the same name make two customers.\n\n**Scope:** `clients:write`\n\n**Idempotency:** `Idempotency-Key` header optional. When sent, a retry with the same key and body replays the first response with `Idempotent-Replayed: true`.",
        "x-required-scope": "clients:write",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours.",
              "examples": [
                "6f1c2d9e-8a4b-4c3f-9e7d-2b5a1c8f4e30"
              ],
              "type": "string",
              "maxLength": 255
            },
            "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "name": "Acme Industries",
                "tax_id": "US-EIN 12-3456789",
                "email": "ap@acme.example",
                "address": {
                  "line1": "4th Floor, Market Tower",
                  "city": "Austin",
                  "state": "TX",
                  "postal_code": "73301",
                  "country": "US"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": null,
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": false,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The created customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still running. Codes: `conflict`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "conflict": {
                    "summary": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/conflict",
                      "title": "Conflict",
                      "status": 409,
                      "detail": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "conflict"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or the Idempotency-Key was reused with a different body. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation_1": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "email",
                          "message": "Enter a valid email"
                        }
                      ]
                    }
                  },
                  "validation_2": {
                    "summary": "This Idempotency-Key was already used with a different request body.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "This Idempotency-Key was already used with a different request body.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "Idempotency-Key",
                          "message": "Generate a new key per distinct request, not per retry loop."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "retrieveCustomer",
        "summary": "Retrieve a customer",
        "tags": [
          "Customers"
        ],
        "description": "Returns one customer by `cus_…` id or UUID, including archived ones (`deleted: true`).\n\n**Scope:** `clients:read`",
        "x-required-scope": "clients:read",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The customer, `cus_…` or UUID.",
              "examples": [
                "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6"
              ]
            },
            "required": true,
            "description": "The customer, `cus_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": null,
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": false,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such customer. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Client not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Client not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "tags": [
          "Customers"
        ],
        "description": "Updates the fields you send and leaves the rest unchanged. Existing invoices are not affected — each invoice keeps a snapshot of the customer as billed. Naturally idempotent, so no `Idempotency-Key` is needed.\n\n**Scope:** `clients:write`",
        "x-required-scope": "clients:write",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The customer, `cus_…` or UUID.",
              "examples": [
                "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6"
              ]
            },
            "required": true,
            "description": "The customer, `cus_…` or UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "phone": "+1 512 555 0100"
              },
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": "+1 512 555 0100",
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": false,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The updated customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such customer. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Client not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Client not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "name",
                          "message": "Enter your customer's name"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Archive a customer",
        "tags": [
          "Customers"
        ],
        "description": "Archives the customer (`deleted: true`) instead of deleting it: issued invoices reference customers and must keep naming who they were billed to. Archived customers drop out of `GET /customers` but stay readable by id. Archiving an archived customer succeeds and changes nothing.\n\n**Scope:** `clients:write`",
        "x-required-scope": "clients:write",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The customer, `cus_…` or UUID.",
              "examples": [
                "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6"
              ]
            },
            "required": true,
            "description": "The customer, `cus_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The archived customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": null,
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The archived customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such customer. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Client not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Client not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "tags": [
          "Products"
        ],
        "description": "Returns products newest first, cursor-paginated. Archived products are included unless you filter with `active`.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself.",
              "type": "string"
            },
            "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size, 1–100. Defaults to 25.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, 1–100. Defaults to 25."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "description": "Case-insensitive substring match on `name`.",
              "examples": [
                "consulting"
              ],
              "type": "string"
            },
            "description": "Case-insensitive substring match on `name`."
          },
          {
            "in": "query",
            "name": "active",
            "schema": {
              "description": "`true` for active products only, `false` for archived only. Omit for both.",
              "type": "boolean"
            },
            "description": "`true` for active products only, `false` for archived only. Omit for both."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of products.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                      "object": "product",
                      "name": "Consulting retainer",
                      "description": "Monthly advisory block.",
                      "images": [],
                      "active": true,
                      "created": "2026-09-22T09:30:00.000Z",
                      "updated": "2026-09-22T09:30:00.000Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      },
                      "description": "Products, newest first."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
                      "examples": [
                        "MjAyNi0wOS0yMlQwOTozMDowMC4wMDBafDdmM2M"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "tags": [
          "Products"
        ],
        "description": "Creates a product. Add one or more prices to it with `POST /prices` before billing it.\n\n**Scope:** `products:write`\n\n**Idempotency:** `Idempotency-Key` header optional. When sent, a retry with the same key and body replays the first response with `Idempotent-Replayed: true`.",
        "x-required-scope": "products:write",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours.",
              "examples": [
                "6f1c2d9e-8a4b-4c3f-9e7d-2b5a1c8f4e30"
              ],
              "type": "string",
              "maxLength": 255
            },
            "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "name": "Consulting retainer",
                "description": "Monthly advisory block."
              },
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block.",
                    "images": [],
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The created product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still running. Codes: `conflict`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "conflict": {
                    "summary": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/conflict",
                      "title": "Conflict",
                      "status": 409,
                      "detail": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "conflict"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or the Idempotency-Key was reused with a different body. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation_1": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "name",
                          "message": "Name your product"
                        }
                      ]
                    }
                  },
                  "validation_2": {
                    "summary": "This Idempotency-Key was already used with a different request body.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "This Idempotency-Key was already used with a different request body.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "Idempotency-Key",
                          "message": "Generate a new key per distinct request, not per retry loop."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "operationId": "retrieveProduct",
        "summary": "Retrieve a product",
        "tags": [
          "Products"
        ],
        "description": "Returns one product by `prod_…` id or UUID, whether active or archived.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ]
            },
            "required": true,
            "description": "The product, `prod_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block.",
                    "images": [],
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "tags": [
          "Products"
        ],
        "description": "Updates the fields you send and leaves the rest unchanged — omitted fields are never reset to defaults. Send `active: true` to restore an archived product. Finalized invoices keep the line descriptions they were issued with.\n\n**Scope:** `products:write`",
        "x-required-scope": "products:write",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ]
            },
            "required": true,
            "description": "The product, `prod_…` or UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "description": "Monthly advisory block, up to 10 hours."
              },
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block, up to 10 hours.",
                    "images": [],
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:45:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The updated product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "images.0",
                          "message": "Enter a valid image URL"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "archiveProduct",
        "summary": "Archive a product",
        "tags": [
          "Products"
        ],
        "description": "Sets `active: false`. The product is not deleted — its prices and the invoice lines that reference it stay intact. Archiving an archived product succeeds and changes nothing. Restore with `PATCH` and `active: true`.\n\n**Scope:** `products:write`",
        "x-required-scope": "products:write",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ]
            },
            "required": true,
            "description": "The product, `prod_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The archived product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block.",
                    "images": [],
                    "active": false,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:45:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The archived product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/prices": {
      "get": {
        "operationId": "listPrices",
        "summary": "List prices",
        "tags": [
          "Prices"
        ],
        "description": "Returns prices newest first, cursor-paginated, optionally filtered by product, active flag, currency or type. An unknown `product` is a `404`, not an empty page.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself.",
              "type": "string"
            },
            "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size, 1–100. Defaults to 25.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, 1–100. Defaults to 25."
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "description": "Only prices of this product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ],
              "type": "string"
            },
            "description": "Only prices of this product, `prod_…` or UUID."
          },
          {
            "in": "query",
            "name": "active",
            "schema": {
              "description": "`true` for active prices only, `false` for archived only. Omit for both.",
              "type": "boolean"
            },
            "description": "`true` for active prices only, `false` for archived only. Omit for both."
          },
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "description": "ISO 4217 code, case-insensitive.",
              "examples": [
                "USD"
              ],
              "type": "string"
            },
            "description": "ISO 4217 code, case-insensitive."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Only prices of this type. Other values are ignored.",
              "type": "string",
              "enum": [
                "one_time",
                "recurring"
              ]
            },
            "description": "Only prices of this type. Other values are ignored."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of prices.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                      "object": "price",
                      "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                      "nickname": "Monthly",
                      "unit_amount": 2500000,
                      "currency": "USD",
                      "billing_scheme": "per_unit",
                      "type": "recurring",
                      "recurring": {
                        "interval": "month",
                        "interval_count": 1
                      },
                      "tax_rate": 0,
                      "active": true,
                      "created": "2026-09-22T09:30:00.000Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Price"
                      },
                      "description": "Prices, newest first."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
                      "examples": [
                        "MjAyNi0wOS0yMlQwOTozMDowMC4wMDBafDdmM2M"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The `product` filter names no product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createPrice",
        "summary": "Create a price",
        "tags": [
          "Prices"
        ],
        "description": "Adds a price to a product. `unit_amount` is integer minor units. A `recurring` price needs `recurring.interval`; it is stored for reporting — nothing auto-bills yet.\n\n**Scope:** `products:write`\n\n**Idempotency:** `Idempotency-Key` header optional. When sent, a retry with the same key and body replays the first response with `Idempotent-Replayed: true`.",
        "x-required-scope": "products:write",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours.",
              "examples": [
                "6f1c2d9e-8a4b-4c3f-9e7d-2b5a1c8f4e30"
              ],
              "type": "string",
              "maxLength": 255
            },
            "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                "nickname": "Monthly",
                "unit_amount": 2500000,
                "currency": "USD",
                "type": "recurring",
                "recurring": {
                  "interval": "month",
                  "interval_count": 1
                },
                "tax_rate": 0
              },
              "schema": {
                "$ref": "#/components/schemas/PriceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created price.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "object": "price",
                    "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "nickname": "Monthly",
                    "unit_amount": 2500000,
                    "currency": "USD",
                    "billing_scheme": "per_unit",
                    "type": "recurring",
                    "recurring": {
                      "interval": "month",
                      "interval_count": 1
                    },
                    "tax_rate": 0,
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The created price.",
                      "$ref": "#/components/schemas/Price"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "`product` names no product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still running. Codes: `conflict`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "conflict": {
                    "summary": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/conflict",
                      "title": "Conflict",
                      "status": 409,
                      "detail": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "conflict"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or the Idempotency-Key was reused with a different body. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation_1": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "recurring_interval",
                          "message": "Pick how often this price recurs"
                        }
                      ]
                    }
                  },
                  "validation_2": {
                    "summary": "This Idempotency-Key was already used with a different request body.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "This Idempotency-Key was already used with a different request body.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "Idempotency-Key",
                          "message": "Generate a new key per distinct request, not per retry loop."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/prices/{id}": {
      "get": {
        "operationId": "retrievePrice",
        "summary": "Retrieve a price",
        "tags": [
          "Prices"
        ],
        "description": "Returns one price by `price_…` id or UUID, whether active or archived.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The price, `price_…` or UUID.",
              "examples": [
                "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7"
              ]
            },
            "required": true,
            "description": "The price, `price_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The price.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "object": "price",
                    "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "nickname": "Monthly",
                    "unit_amount": 2500000,
                    "currency": "USD",
                    "billing_scheme": "per_unit",
                    "type": "recurring",
                    "recurring": {
                      "interval": "month",
                      "interval_count": 1
                    },
                    "tax_rate": 0,
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The price.",
                      "$ref": "#/components/schemas/Price"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such price. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Price not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Price not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updatePrice",
        "summary": "Update a price",
        "tags": [
          "Prices"
        ],
        "description": "Updates the fields you send and leaves the rest unchanged. The parent product cannot change — sending `product` is a `422`; create a new price instead. Lines on finalized invoices keep the amount they were billed at; a draft with a line from this price picks up the change the next time it is saved.\n\n**Scope:** `products:write`",
        "x-required-scope": "products:write",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The price, `price_…` or UUID.",
              "examples": [
                "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7"
              ]
            },
            "required": true,
            "description": "The price, `price_…` or UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "nickname": "Monthly (annual contract)",
                "type": "recurring",
                "recurring": {
                  "interval": "month",
                  "interval_count": 1
                }
              },
              "schema": {
                "$ref": "#/components/schemas/PriceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated price.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "object": "price",
                    "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "nickname": "Monthly (annual contract)",
                    "unit_amount": 2500000,
                    "currency": "USD",
                    "billing_scheme": "per_unit",
                    "type": "recurring",
                    "recurring": {
                      "interval": "month",
                      "interval_count": 1
                    },
                    "tax_rate": 0,
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The updated price.",
                      "$ref": "#/components/schemas/Price"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such price. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Price not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Price not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or tried to move the price to another product. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "A price cannot move to another product.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "A price cannot move to another product.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "product",
                          "message": "Create a new price on the other product instead."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "archivePrice",
        "summary": "Archive a price",
        "tags": [
          "Prices"
        ],
        "description": "Sets `active: false`. The price is not deleted, because invoice lines may reference it. Archiving an archived price succeeds and changes nothing. Restore with `PATCH` and `active: true`.\n\n**Scope:** `products:write`",
        "x-required-scope": "products:write",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The price, `price_…` or UUID.",
              "examples": [
                "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7"
              ]
            },
            "required": true,
            "description": "The price, `price_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The archived price.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "object": "price",
                    "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "nickname": "Monthly",
                    "unit_amount": 2500000,
                    "currency": "USD",
                    "billing_scheme": "per_unit",
                    "type": "recurring",
                    "recurring": {
                      "interval": "month",
                      "interval_count": 1
                    },
                    "tax_rate": 0,
                    "active": false,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The archived price.",
                      "$ref": "#/components/schemas/Price"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such price. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Price not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Price not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices",
        "tags": [
          "Invoices"
        ],
        "description": "Returns invoices newest first, cursor-paginated, without `lines`. `status=overdue` works even though no invoice is stored as overdue — it selects open invoices past `due_date`. An unknown `customer` is a `404`.\n\n**Scope:** `invoices:read` + `clients:read` (when filtering by `customer`)",
        "x-required-scope": "invoices:read",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself.",
              "type": "string"
            },
            "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size, 1–100. Defaults to 25.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, 1–100. Defaults to 25."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "Only invoices in this status. Other values are ignored.",
              "type": "string",
              "enum": [
                "draft",
                "open",
                "paid",
                "overdue",
                "void"
              ]
            },
            "description": "Only invoices in this status. Other values are ignored."
          },
          {
            "in": "query",
            "name": "customer",
            "schema": {
              "description": "Only invoices billed to this customer, `cus_…` or UUID.",
              "examples": [
                "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6"
              ],
              "type": "string"
            },
            "description": "Only invoices billed to this customer, `cus_…` or UUID."
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "description": "Only invoices issued on or after this date (`YYYY-MM-DD`).",
              "examples": [
                "2026-09-01"
              ],
              "type": "string",
              "format": "date",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
            },
            "description": "Only invoices issued on or after this date (`YYYY-MM-DD`)."
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "description": "Only invoices issued on or before this date (`YYYY-MM-DD`).",
              "examples": [
                "2026-09-30"
              ],
              "type": "string",
              "format": "date",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
            },
            "description": "Only invoices issued on or before this date (`YYYY-MM-DD`)."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of invoices (without lines).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "in_Pb2Xk7Mv4Qs9Lr1Wd6Tn3Fh8",
                      "object": "invoice",
                      "number": "INV-0042",
                      "status": "open",
                      "customer": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                      "currency": "USD",
                      "collection_method": "send_invoice",
                      "issue_date": "2026-09-22",
                      "due_date": "2026-10-22",
                      "description": "Consulting retainer.",
                      "footer": null,
                      "subtotal": 2550000,
                      "discount": 0,
                      "taxable": 2550000,
                      "tax": 0,
                      "total": 2550000,
                      "amount_due": 2550000,
                      "amount_in_words": "Twenty Five Thousand Five Hundred USD Only",
                      "public_url_token": "2b7e4c1a-9f3d-4e68-8a5b-0d1c7f3e9a46",
                      "finalized_at": "2026-09-22T10:00:00.000Z",
                      "paid_at": null,
                      "voided_at": null,
                      "void_reason": null,
                      "created": "2026-09-22T09:30:00.000Z",
                      "updated": "2026-09-22T10:00:00.000Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      },
                      "description": "Invoices, newest first."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
                      "examples": [
                        "MjAyNi0wOS0yMlQwOTozMDowMC4wMDBafDdmM2M"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The `customer` filter names no customer. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Client not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Client not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createInvoice",
        "summary": "Create a draft invoice",
        "tags": [
          "Invoices"
        ],
        "description": "Creates a `draft` for an existing customer. Each line is either a catalog `price` (description, amount and tax rate are borrowed from it) or an ad-hoc `description` + `unit_amount`. Totals are always computed server-side from the lines. The issue date is today; `currency` defaults to your business currency.\n\nA draft has no number yet — call `POST /invoices/{id}/finalize` (or `/send`) to issue it. Emits `invoice.created`.\n\n**Scope:** `invoices:write` + `business:read` + `clients:read`\n\n**Idempotency:** `Idempotency-Key` header **required** (`428` without it). A retry with the same key and body replays the first response with `Idempotent-Replayed: true`; the same key with a different body is a `422`.",
        "x-required-scope": "invoices:write",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours.",
              "examples": [
                "6f1c2d9e-8a4b-4c3f-9e7d-2b5a1c8f4e30"
              ]
            },
            "required": true,
            "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "customer": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                "currency": "USD",
                "due_date": "2026-10-22",
                "description": "Consulting retainer.",
                "items": [
                  {
                    "price": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "quantity": 1
                  },
                  {
                    "description": "Onboarding workshop",
                    "quantity": 1,
                    "unit": "NOS",
                    "unit_amount": 50000,
                    "tax_rate": 0
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/InvoiceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created draft, with lines.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "in_Pb2Xk7Mv4Qs9Lr1Wd6Tn3Fh8",
                    "object": "invoice",
                    "number": null,
                    "status": "draft",
                    "customer": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "currency": "USD",
                    "collection_method": "send_invoice",
                    "issue_date": "2026-09-22",
                    "due_date": "2026-10-22",
                    "description": "Consulting retainer.",
                    "footer": null,
                    "subtotal": 2550000,
                    "discount": 0,
                    "taxable": 2550000,
                    "tax": 0,
                    "total": 2550000,
                    "amount_due": 0,
                    "amount_in_words": "Twenty Five Thousand Five Hundred USD Only",
                    "public_url_token": "2b7e4c1a-9f3d-4e68-8a5b-0d1c7f3e9a46",
                    "finalized_at": null,
                    "paid_at": null,
                    "voided_at": null,
                    "void_reason": null,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:30:00.000Z",
                    "lines": {
                      "data": [
                        {
                          "id": "ii_Da4Vq9Ns2Kx7Bm3Yt8Rc1Lp6",
                          "object": "invoiceitem",
                          "price": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                          "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                          "description": "Consulting retainer",
                          "quantity": 1,
                          "unit": "NOS",
                          "unit_amount": 2500000,
                          "amount": 2500000,
                          "discount_percent": 0,
                          "tax_rate": 0,
                          "tax_amount": 0
                        },
                        {
                          "id": "ii_Ew8Hz3Jc6Tq1Ms5Nv9Kb2Xr4",
                          "object": "invoiceitem",
                          "price": null,
                          "product": null,
                          "description": "Onboarding workshop",
                          "quantity": 1,
                          "unit": "NOS",
                          "unit_amount": 50000,
                          "amount": 50000,
                          "discount_percent": 0,
                          "tax_rate": 0,
                          "tax_amount": 0
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The created draft.",
                      "$ref": "#/components/schemas/Invoice"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "`customer` names no customer, or the business profile is missing. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
[...]
