{
  "openapi": "3.1.0",
  "info": {
    "title": "Invoice-AI API",
    "version": "1.0.0",
    "description": "Stripe-shaped invoicing over HTTP: customers, products, prices, invoices and invoice items, with `cus_…`, `prod_…`, `price_…`, `in_…` and `ii_…` ids.\n\n- **Auth:** `Authorization: Bearer inv_live_…`, with per-key scopes.\n- **Envelope:** JSON bodies; responses wrap the resource in `{ \"data\": … }`; lists add `next_cursor`.\n- **Money:** integer minor units of the currency everywhere (`250000` is $2,500.00; ¥5,000 is `5000`).\n- **Errors:** RFC 9457 `application/problem+json` — branch on `code`.\n- **Idempotency:** operations that spend an invoice number, email or record payment require an `Idempotency-Key`.\n- **Rate limits:** 120 requests/minute per key. Sending email: 10/hour per key and 50/hour per account. See the `RateLimit-*` headers.",
    "contact": {
      "name": "Invoice-AI support",
      "url": "https://invoice.horizonpay.co"
    }
  },
  "servers": [
    {
      "url": "https://invoice.horizonpay.co/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Business",
      "x-displayName": "Business",
      "description": "Your business profile — the issuer printed on every invoice. Read-only over the API; edit it in Settings."
    },
    {
      "name": "Customers",
      "x-displayName": "Customers",
      "description": "The people and companies you bill. Every invoice references a customer by `cus_…` id. Customers are archived rather than deleted, so issued invoices keep naming who they were billed to."
    },
    {
      "name": "Products",
      "x-displayName": "Products",
      "description": "The things you sell. A product carries a name and description; amounts live on its prices. Archiving sets `active: false` and keeps history intact."
    },
    {
      "name": "Prices",
      "x-displayName": "Prices",
      "description": "Ways to charge for a product: an amount in integer minor units and a currency, one-time or recurring. Bill a price on an invoice line with `price: \"price_…\"`."
    },
    {
      "name": "Invoices",
      "x-displayName": "Invoices",
      "description": "Invoices move `draft` → `open` (finalize assigns a permanent, consecutive number) → `paid`, or `open` → `void`. Drafts are freely editable and deletable; finalized invoices are frozen. `overdue` is an open invoice past its due date, derived at read time. Operations that spend a number, send email or record payment require an `Idempotency-Key`."
    },
    {
      "name": "Invoice items",
      "x-displayName": "Invoice items",
      "description": "Individual lines of an invoice. Add or remove lines on a draft one at a time; totals are recomputed server-side and the whole invoice is returned."
    },
    {
      "name": "Webhook endpoints",
      "x-displayName": "Webhook endpoints",
      "description": "Register https endpoints to receive invoice events (`invoice.created`, `invoice.finalized`, `invoice.paid`, …). Deliveries are signed per [Standard Webhooks](https://www.standardwebhooks.com/) with `webhook-id`, `webhook-timestamp` and `webhook-signature` headers (HMAC-SHA256 over `{id}.{timestamp}.{body}`); failed deliveries are retried with backoff."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/business": {
      "get": {
        "operationId": "getBusiness",
        "summary": "Retrieve the business profile",
        "tags": [
          "Business"
        ],
        "description": "Returns your business profile — the issuer printed on every invoice: legal name, address, tax id, default currency, bank details and invoice prefix. Read-only over the API; edit it in Settings.\n\n**Scope:** `business:read`",
        "x-required-scope": "business:read",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://invoice.horizonpay.co/api/v1/business \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst business = await invoiceai.business.retrieve()\nconsole.log(business.legal_name, business.currency)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nbusiness = client.business.retrieve()\nprint(business.legal_name, business.currency)"
          }
        ],
        "responses": {
          "200": {
            "description": "The business profile.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "0c6f2d8e-3a41-4b9e-8f17-5d2a9c4e1b73",
                    "legal_name": "Horizon Consulting LLC",
                    "trade_name": "Horizon",
                    "country_code": "US",
                    "currency": "USD",
                    "tax_id": "US-EIN 98-7654321",
                    "address": {
                      "line1": "500 Congress Ave",
                      "line2": "Suite 1200",
                      "city": "Austin",
                      "region": "TX",
                      "postal_code": "78701",
                      "country_code": "US",
                      "country": "United States"
                    },
                    "email": "billing@horizon.example",
                    "phone": "+1 512 555 0199",
                    "bank": {
                      "bank_name": "First Austin Bank",
                      "account_name": "Horizon Consulting LLC",
                      "account_number": "000123456789",
                      "routing_number": "111000025"
                    },
                    "invoice_prefix": "INV",
                    "created_at": "2026-01-05T12:00:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The business profile.",
                      "$ref": "#/components/schemas/Business"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No business profile yet — onboarding is unfinished. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "No business profile yet. Finish onboarding first.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "No business profile yet. Finish onboarding first.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "tags": [
          "Customers"
        ],
        "description": "Lists customers, newest first. Archived customers are left out unless `include_deleted=true`.\n\n**Scope:** `clients:read`",
        "x-required-scope": "clients:read",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://invoice.horizonpay.co/api/v1/customers?query=acme\" \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nfor await (const customer of invoiceai.customers.list({ query: 'acme' })) {\n  console.log(customer.id, customer.name)\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nfor customer in client.customers.list(query=\"acme\"):\n    print(customer.id, customer.name)"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself.",
              "type": "string"
            },
            "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size, 1–100. Defaults to 25.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, 1–100. Defaults to 25."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "description": "Case-insensitive substring match on `name`.",
              "examples": [
                "acme"
              ],
              "type": "string"
            },
            "description": "Case-insensitive substring match on `name`."
          },
          {
            "in": "query",
            "name": "include_deleted",
            "schema": {
              "description": "Include archived customers. Only the literal `true` enables it.",
              "type": "boolean"
            },
            "description": "Include archived customers. Only the literal `true` enables it."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customers.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                      "object": "customer",
                      "name": "Acme Industries",
                      "email": "ap@acme.example",
                      "phone": null,
                      "tax_id": "US-EIN 12-3456789",
                      "address": {
                        "line1": "4th Floor, Market Tower",
                        "line2": null,
                        "city": "Austin",
                        "state": "TX",
                        "postal_code": "73301",
                        "country": "US"
                      },
                      "deleted": false,
                      "created": "2026-09-22T09:30:00.000Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "Customers, newest first."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
                      "examples": [
                        "MjAyNi0wOS0yMlQwOTozMDowMC4wMDBafDdmM2M"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "`cursor` is not a `next_cursor` this API returned. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "The cursor is not valid.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "The cursor is not valid.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "cursor",
                          "message": "Pass the `next_cursor` from the previous page, unchanged."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "description": "Creates a customer to bill. Only `name` is required. Calls are not deduplicated: the same name twice makes two customers.\n\n**Scope:** `clients:write`\n\n**Idempotency:** `Idempotency-Key` optional. With one, a retry with the same key and body replays the first response (`Idempotent-Replayed: true`); the same key with a different body is a `422` `idempotency_mismatch`.",
        "x-required-scope": "clients:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://invoice.horizonpay.co/api/v1/customers \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\" \\\n  -H \"Idempotency-Key: $(uuidgen)\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"Acme Industries\",\n    \"tax_id\": \"US-EIN 12-3456789\",\n    \"email\": \"ap@acme.example\",\n    \"address\": {\n      \"line1\": \"4th Floor, Market Tower\",\n      \"city\": \"Austin\",\n      \"state\": \"TX\",\n      \"postal_code\": \"73301\",\n      \"country\": \"US\"\n    }\n  }'"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst customer = await invoiceai.customers.create({\n  name: 'Acme Industries',\n  tax_id: 'US-EIN 12-3456789',\n  email: 'ap@acme.example',\n  address: {\n    line1: '4th Floor, Market Tower',\n    city: 'Austin',\n    state: 'TX',\n    postal_code: '73301',\n    country: 'US',\n  },\n})\nconsole.log(customer.id)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\ncustomer = client.customers.create(\n    name=\"Acme Industries\",\n    tax_id=\"US-EIN 12-3456789\",\n    email=\"ap@acme.example\",\n    address={\n        \"line1\": \"4th Floor, Market Tower\",\n        \"city\": \"Austin\",\n        \"state\": \"TX\",\n        \"postal_code\": \"73301\",\n        \"country\": \"US\",\n    },\n)\nprint(customer.id)"
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours.",
              "examples": [
                "6f1c2d9e-8a4b-4c3f-9e7d-2b5a1c8f4e30"
              ],
              "type": "string",
              "maxLength": 255
            },
            "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "name": "Acme Industries",
                "tax_id": "US-EIN 12-3456789",
                "email": "ap@acme.example",
                "address": {
                  "line1": "4th Floor, Market Tower",
                  "city": "Austin",
                  "state": "TX",
                  "postal_code": "73301",
                  "country": "US"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": null,
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": false,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The created customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still running. Codes: `conflict`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "conflict": {
                    "summary": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/conflict",
                      "title": "Conflict",
                      "status": 409,
                      "detail": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "conflict"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or the Idempotency-Key was reused with a different body. Codes: `validation`, `idempotency_mismatch`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation_1": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "email",
                          "message": "Enter a valid email"
                        }
                      ]
                    }
                  },
                  "idempotency_mismatch_2": {
                    "summary": "This Idempotency-Key was already used with a different request body.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/idempotency-mismatch",
                      "title": "Idempotency-Key reused",
                      "status": 422,
                      "detail": "This Idempotency-Key was already used with a different request body.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "idempotency_mismatch",
                      "errors": [
                        {
                          "path": "Idempotency-Key",
                          "message": "Generate a new key per distinct request, not per retry loop."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "retrieveCustomer",
        "summary": "Retrieve a customer",
        "tags": [
          "Customers"
        ],
        "description": "Returns a customer by `cus_…` id or UUID, including archived ones (`deleted: true`).\n\n**Scope:** `clients:read`",
        "x-required-scope": "clients:read",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://invoice.horizonpay.co/api/v1/customers/cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst customer = await invoiceai.customers.retrieve('cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6')\nconsole.log(customer.name, customer.email)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\ncustomer = client.customers.retrieve(\"cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6\")\nprint(customer.name, customer.email)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The customer, `cus_…` or UUID.",
              "examples": [
                "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6"
              ]
            },
            "required": true,
            "description": "The customer, `cus_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": null,
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": false,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such customer. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Client not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Client not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "tags": [
          "Customers"
        ],
        "description": "Updates the fields you send and leaves the rest unchanged. Issued invoices keep the customer details they were billed with. No `Idempotency-Key` needed — repeating the call is harmless.\n\n**Scope:** `clients:write`",
        "x-required-scope": "clients:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X PATCH https://invoice.horizonpay.co/api/v1/customers/cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"phone\": \"+1 512 555 0100\" }'"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst customer = await invoiceai.customers.update('cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6', {\n  phone: '+1 512 555 0100',\n})\nconsole.log(customer.phone)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\ncustomer = client.customers.update(\n    \"cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6\",\n    phone=\"+1 512 555 0100\",\n)\nprint(customer.phone)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The customer, `cus_…` or UUID.",
              "examples": [
                "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6"
              ]
            },
            "required": true,
            "description": "The customer, `cus_…` or UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "phone": "+1 512 555 0100"
              },
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": "+1 512 555 0100",
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": false,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The updated customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such customer. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Client not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Client not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "name",
                          "message": "Enter your customer's name"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Archive a customer",
        "tags": [
          "Customers"
        ],
        "description": "Archives a customer (`deleted: true`). Customers are never hard-deleted, because issued invoices must keep naming who they billed. Archived customers drop out of `GET /customers` but stay readable by id; archiving twice changes nothing.\n\n**Scope:** `clients:write`",
        "x-required-scope": "clients:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X DELETE https://invoice.horizonpay.co/api/v1/customers/cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst customer = await invoiceai.customers.del('cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6')\nconsole.log(customer.deleted)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\ncustomer = client.customers.delete(\"cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6\")\nprint(customer.deleted)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The customer, `cus_…` or UUID.",
              "examples": [
                "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6"
              ]
            },
            "required": true,
            "description": "The customer, `cus_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The archived customer.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "cus_Nf3kQ8pR2mX7vB1cT9wL4sZ6",
                    "object": "customer",
                    "name": "Acme Industries",
                    "email": "ap@acme.example",
                    "phone": null,
                    "tax_id": "US-EIN 12-3456789",
                    "address": {
                      "line1": "4th Floor, Market Tower",
                      "line2": null,
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "73301",
                      "country": "US"
                    },
                    "deleted": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The archived customer.",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such customer. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Client not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Client not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "tags": [
          "Products"
        ],
        "description": "Lists products, newest first. Archived products are included unless you filter with `active`.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://invoice.horizonpay.co/api/v1/products?active=true\" \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nfor await (const product of invoiceai.products.list({ active: true })) {\n  console.log(product.id, product.name)\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nfor product in client.products.list(active=True):\n    print(product.id, product.name)"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself.",
              "type": "string"
            },
            "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size, 1–100. Defaults to 25.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, 1–100. Defaults to 25."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "description": "Case-insensitive substring match on `name`.",
              "examples": [
                "consulting"
              ],
              "type": "string"
            },
            "description": "Case-insensitive substring match on `name`."
          },
          {
            "in": "query",
            "name": "active",
            "schema": {
              "description": "`true` for active products only, `false` for archived only. Omit for both.",
              "type": "boolean"
            },
            "description": "`true` for active products only, `false` for archived only. Omit for both."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of products.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                      "object": "product",
                      "name": "Consulting retainer",
                      "description": "Monthly advisory block.",
                      "images": [],
                      "active": true,
                      "created": "2026-09-22T09:30:00.000Z",
                      "updated": "2026-09-22T09:30:00.000Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      },
                      "description": "Products, newest first."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
                      "examples": [
                        "MjAyNi0wOS0yMlQwOTozMDowMC4wMDBafDdmM2M"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "`cursor` is not a `next_cursor` this API returned. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "The cursor is not valid.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "The cursor is not valid.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "cursor",
                          "message": "Pass the `next_cursor` from the previous page, unchanged."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "tags": [
          "Products"
        ],
        "description": "Creates a product. Amounts live on prices: add one with `POST /prices` before billing it.\n\n**Scope:** `products:write`\n\n**Idempotency:** `Idempotency-Key` optional. With one, a retry with the same key and body replays the first response (`Idempotent-Replayed: true`); the same key with a different body is a `422` `idempotency_mismatch`.",
        "x-required-scope": "products:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://invoice.horizonpay.co/api/v1/products \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\" \\\n  -H \"Idempotency-Key: $(uuidgen)\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"Consulting retainer\",\n    \"description\": \"Monthly advisory block.\"\n  }'"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst product = await invoiceai.products.create({\n  name: 'Consulting retainer',\n  description: 'Monthly advisory block.',\n})\nconsole.log(product.id)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nproduct = client.products.create(\n    name=\"Consulting retainer\",\n    description=\"Monthly advisory block.\",\n)\nprint(product.id)"
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours.",
              "examples": [
                "6f1c2d9e-8a4b-4c3f-9e7d-2b5a1c8f4e30"
              ],
              "type": "string",
              "maxLength": 255
            },
            "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "name": "Consulting retainer",
                "description": "Monthly advisory block."
              },
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block.",
                    "images": [],
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The created product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still running. Codes: `conflict`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "conflict": {
                    "summary": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/conflict",
                      "title": "Conflict",
                      "status": 409,
                      "detail": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "conflict"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or the Idempotency-Key was reused with a different body. Codes: `validation`, `idempotency_mismatch`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation_1": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "name",
                          "message": "Name your product"
                        }
                      ]
                    }
                  },
                  "idempotency_mismatch_2": {
                    "summary": "This Idempotency-Key was already used with a different request body.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/idempotency-mismatch",
                      "title": "Idempotency-Key reused",
                      "status": 422,
                      "detail": "This Idempotency-Key was already used with a different request body.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "idempotency_mismatch",
                      "errors": [
                        {
                          "path": "Idempotency-Key",
                          "message": "Generate a new key per distinct request, not per retry loop."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "operationId": "retrieveProduct",
        "summary": "Retrieve a product",
        "tags": [
          "Products"
        ],
        "description": "Returns a product by `prod_…` id or UUID, active or archived.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://invoice.horizonpay.co/api/v1/products/prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst product = await invoiceai.products.retrieve('prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1')\nconsole.log(product.name, product.active)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nproduct = client.products.retrieve(\"prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1\")\nprint(product.name, product.active)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ]
            },
            "required": true,
            "description": "The product, `prod_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block.",
                    "images": [],
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "tags": [
          "Products"
        ],
        "description": "Updates the fields you send and leaves the rest unchanged. Send `active: true` to restore an archived product. Finalized invoices keep the line descriptions they were issued with.\n\n**Scope:** `products:write`",
        "x-required-scope": "products:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X PATCH https://invoice.horizonpay.co/api/v1/products/prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"description\": \"Monthly advisory block, up to 10 hours.\" }'"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst product = await invoiceai.products.update('prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1', {\n  description: 'Monthly advisory block, up to 10 hours.',\n})\nconsole.log(product.description)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nproduct = client.products.update(\n    \"prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1\",\n    description=\"Monthly advisory block, up to 10 hours.\",\n)\nprint(product.description)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ]
            },
            "required": true,
            "description": "The product, `prod_…` or UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "description": "Monthly advisory block, up to 10 hours."
              },
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block, up to 10 hours.",
                    "images": [],
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:45:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The updated product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "images.0",
                          "message": "Enter a valid image URL"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "archiveProduct",
        "summary": "Archive a product",
        "tags": [
          "Products"
        ],
        "description": "Archives a product (`active: false`). Its prices and the invoice lines that use it stay intact; archiving twice changes nothing. Restore with `PATCH` and `active: true`.\n\n**Scope:** `products:write`",
        "x-required-scope": "products:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X DELETE https://invoice.horizonpay.co/api/v1/products/prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst product = await invoiceai.products.archive('prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1')\nconsole.log(product.active)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nproduct = client.products.archive(\"prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1\")\nprint(product.active)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ]
            },
            "required": true,
            "description": "The product, `prod_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The archived product.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "object": "product",
                    "name": "Consulting retainer",
                    "description": "Monthly advisory block.",
                    "images": [],
                    "active": false,
                    "created": "2026-09-22T09:30:00.000Z",
                    "updated": "2026-09-22T09:45:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The archived product.",
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/prices": {
      "get": {
        "operationId": "listPrices",
        "summary": "List prices",
        "tags": [
          "Prices"
        ],
        "description": "Lists prices, newest first, optionally filtered by `product`, `active`, `currency` or `type`. An unknown `product` is a `404`, not an empty page.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://invoice.horizonpay.co/api/v1/prices?product=prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1\" \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nfor await (const price of invoiceai.prices.list({\n  product: 'prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1',\n})) {\n  console.log(price.id, price.unit_amount, price.currency)\n}"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nfor price in client.prices.list(product=\"prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1\"):\n    print(price.id, price.unit_amount, price.currency)"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself.",
              "type": "string"
            },
            "description": "The `next_cursor` from the previous page. Opaque — do not build it yourself."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "description": "Page size, 1–100. Defaults to 25.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size, 1–100. Defaults to 25."
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "description": "Only prices of this product, `prod_…` or UUID.",
              "examples": [
                "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1"
              ],
              "type": "string"
            },
            "description": "Only prices of this product, `prod_…` or UUID."
          },
          {
            "in": "query",
            "name": "active",
            "schema": {
              "description": "`true` for active prices only, `false` for archived only. Omit for both.",
              "type": "boolean"
            },
            "description": "`true` for active prices only, `false` for archived only. Omit for both."
          },
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "description": "ISO 4217 code, case-insensitive.",
              "examples": [
                "USD"
              ],
              "type": "string"
            },
            "description": "ISO 4217 code, case-insensitive."
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Only prices of this type. Other values are ignored.",
              "type": "string",
              "enum": [
                "one_time",
                "recurring"
              ]
            },
            "description": "Only prices of this type. Other values are ignored."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of prices.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                      "object": "price",
                      "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                      "nickname": "Monthly",
                      "unit_amount": 2500000,
                      "currency": "USD",
                      "billing_scheme": "per_unit",
                      "type": "recurring",
                      "recurring": {
                        "interval": "month",
                        "interval_count": 1
                      },
                      "tax_rate": 0,
                      "active": true,
                      "created": "2026-09-22T09:30:00.000Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Price"
                      },
                      "description": "Prices, newest first."
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
                      "examples": [
                        "MjAyNi0wOS0yMlQwOTozMDowMC4wMDBafDdmM2M"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The `product` filter names no product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`cursor` is not a `next_cursor` this API returned. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation": {
                    "summary": "The cursor is not valid.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "The cursor is not valid.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "cursor",
                          "message": "Pass the `next_cursor` from the previous page, unchanged."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createPrice",
        "summary": "Create a price",
        "tags": [
          "Prices"
        ],
        "description": "Adds a price to a product. `unit_amount` is in integer minor units. A `recurring` price needs `recurring.interval`; it is stored for reporting — nothing auto-bills yet.\n\n**Scope:** `products:write`\n\n**Idempotency:** `Idempotency-Key` optional. With one, a retry with the same key and body replays the first response (`Idempotent-Replayed: true`); the same key with a different body is a `422` `idempotency_mismatch`.",
        "x-required-scope": "products:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://invoice.horizonpay.co/api/v1/prices \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\" \\\n  -H \"Idempotency-Key: $(uuidgen)\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"product\": \"prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1\",\n    \"nickname\": \"Monthly\",\n    \"unit_amount\": 2500000,\n    \"currency\": \"USD\",\n    \"type\": \"recurring\",\n    \"recurring\": { \"interval\": \"month\", \"interval_count\": 1 },\n    \"tax_rate\": 0\n  }'"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst price = await invoiceai.prices.create({\n  product: 'prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1',\n  nickname: 'Monthly',\n  unit_amount: 2500000,\n  currency: 'USD',\n  type: 'recurring',\n  recurring: { interval: 'month', interval_count: 1 },\n  tax_rate: 0,\n})\nconsole.log(price.id)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nprice = client.prices.create(\n    product=\"prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1\",\n    nickname=\"Monthly\",\n    unit_amount=2500000,\n    currency=\"USD\",\n    type=\"recurring\",\n    recurring={\"interval\": \"month\", \"interval_count\": 1},\n    tax_rate=0,\n)\nprint(price.id)"
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours.",
              "examples": [
                "6f1c2d9e-8a4b-4c3f-9e7d-2b5a1c8f4e30"
              ],
              "type": "string",
              "maxLength": 255
            },
            "description": "A unique key per distinct operation (a UUID works), reused only when retrying that same request. Up to 255 characters; stored for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                "nickname": "Monthly",
                "unit_amount": 2500000,
                "currency": "USD",
                "type": "recurring",
                "recurring": {
                  "interval": "month",
                  "interval_count": 1
                },
                "tax_rate": 0
              },
              "schema": {
                "$ref": "#/components/schemas/PriceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created price.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "object": "price",
                    "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "nickname": "Monthly",
                    "unit_amount": 2500000,
                    "currency": "USD",
                    "billing_scheme": "per_unit",
                    "type": "recurring",
                    "recurring": {
                      "interval": "month",
                      "interval_count": 1
                    },
                    "tax_rate": 0,
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The created price.",
                      "$ref": "#/components/schemas/Price"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "`product` names no product. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Product not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Product not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still running. Codes: `conflict`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "conflict": {
                    "summary": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/conflict",
                      "title": "Conflict",
                      "status": 409,
                      "detail": "A request with this Idempotency-Key is still in flight. Retry in a moment.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "conflict"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or the Idempotency-Key was reused with a different body. Codes: `validation`, `idempotency_mismatch`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "validation_1": {
                    "summary": "Some fields need attention.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/validation",
                      "title": "Validation failed",
                      "status": 422,
                      "detail": "Some fields need attention.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "validation",
                      "errors": [
                        {
                          "path": "recurring_interval",
                          "message": "Pick how often this price recurs"
                        }
                      ]
                    }
                  },
                  "idempotency_mismatch_2": {
                    "summary": "This Idempotency-Key was already used with a different request body.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/idempotency-mismatch",
                      "title": "Idempotency-Key reused",
                      "status": 422,
                      "detail": "This Idempotency-Key was already used with a different request body.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "idempotency_mismatch",
                      "errors": [
                        {
                          "path": "Idempotency-Key",
                          "message": "Generate a new key per distinct request, not per retry loop."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/prices/{id}": {
      "get": {
        "operationId": "retrievePrice",
        "summary": "Retrieve a price",
        "tags": [
          "Prices"
        ],
        "description": "Returns a price by `price_…` id or UUID, active or archived.\n\n**Scope:** `products:read`",
        "x-required-scope": "products:read",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://invoice.horizonpay.co/api/v1/prices/price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\""
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst price = await invoiceai.prices.retrieve('price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7')\nconsole.log(price.unit_amount, price.currency)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nprice = client.prices.retrieve(\"price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7\")\nprint(price.unit_amount, price.currency)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The price, `price_…` or UUID.",
              "examples": [
                "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7"
              ]
            },
            "required": true,
            "description": "The price, `price_…` or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "The price.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "object": "price",
                    "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "nickname": "Monthly",
                    "unit_amount": 2500000,
                    "currency": "USD",
                    "billing_scheme": "per_unit",
                    "type": "recurring",
                    "recurring": {
                      "interval": "month",
                      "interval_count": 1
                    },
                    "tax_rate": 0,
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The price.",
                      "$ref": "#/components/schemas/Price"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such price. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Price not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Price not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updatePrice",
        "summary": "Update a price",
        "tags": [
          "Prices"
        ],
        "description": "Updates the fields you send and leaves the rest unchanged. A price cannot move to another product (`422`) — create a new price instead. Finalized invoices keep the amount they were billed at; a draft picks up the change the next time it is saved.\n\n**Scope:** `products:write`",
        "x-required-scope": "products:write",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X PATCH https://invoice.horizonpay.co/api/v1/prices/price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7 \\\n  -H \"Authorization: Bearer $INVOICE_AI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"nickname\": \"Monthly (annual contract)\",\n    \"type\": \"recurring\",\n    \"recurring\": { \"interval\": \"month\", \"interval_count\": 1 }\n  }'"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "import InvoiceAI from '@horizonpay/invoice-ai'\n\nconst invoiceai = new InvoiceAI() // reads INVOICE_AI_API_KEY\n\nconst price = await invoiceai.prices.update('price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7', {\n  nickname: 'Monthly (annual contract)',\n  type: 'recurring',\n  recurring: { interval: 'month', interval_count: 1 },\n})\nconsole.log(price.nickname)"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from invoice_ai import InvoiceAI\n\nclient = InvoiceAI()  # reads INVOICE_AI_API_KEY\n\nprice = client.prices.update(\n    \"price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7\",\n    nickname=\"Monthly (annual contract)\",\n    type=\"recurring\",\n    recurring={\"interval\": \"month\", \"interval_count\": 1},\n)\nprint(price.nickname)"
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "The price, `price_…` or UUID.",
              "examples": [
                "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7"
              ]
            },
            "required": true,
            "description": "The price, `price_…` or UUID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "nickname": "Monthly (annual contract)",
                "type": "recurring",
                "recurring": {
                  "interval": "month",
                  "interval_count": 1
                }
              },
              "schema": {
                "$ref": "#/components/schemas/PriceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated price.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "price_Jc5Tn8Wq1Ze6Ra3Ym9Ub2Gs7",
                    "object": "price",
                    "product": "prod_Hy7Rq2Lm9Xc4Vb8Nt3Kd6Pw1",
                    "nickname": "Monthly (annual contract)",
                    "unit_amount": 2500000,
                    "currency": "USD",
                    "billing_scheme": "per_unit",
                    "type": "recurring",
                    "recurring": {
                      "interval": "month",
                      "interval_count": 1
                    },
                    "tax_rate": 0,
                    "active": true,
                    "created": "2026-09-22T09:30:00.000Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The updated price.",
                      "$ref": "#/components/schemas/Price"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No such price. Another account's resource is also a `404`, so ids cannot be probed. Codes: `not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
                  "not_found": {
                    "summary": "Price not found.",
                    "value": {
                      "type": "https://invoice.horizonpay.co/problems/not-found",
                      "title": "Not found",
                      "status": 404,
                      "detail": "Price not found.",
                      "instance": "req_7f3c9a1e2b4d4e8a9c6f2d1b0a3e5f71",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The body failed validation, or tried to move the price to another product. Codes: `validation`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                },
                "examples": {
[...]
